#app {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
}

#container {
    background-color: rgba(255, 255, 255, 0.6);
    padding: 2rem;
    border-radius: 10px;
    min-width: 40%;
    min-height: 300px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.countdown-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    height: 200px;
}